


<% include header%>

<br>
<br>
<br>
<div class="w3-container">

<h4 class="w3-center"><b>Preguntas Frecuentes</b></h4>


<button onclick="myFunction('Demo1')" class="w3-button w3-block w3-2018-sailor-blue w3-left-align">¿Aceptamos pagos con tarjeta?</button>
<div id="Demo1" class="w3-hide w3-container">
    <p>El vendedor encargado de darte seguimiento puede considerar la transeferencia de efectivo por su producto, es necesario llegar a un acuerdo en este caso con tu vendedor.</p>
</div>

<button onclick="myFunction('Demo2')" class="w3-button w3-block w3-2018-sailor-blue w3-left-align">¿Cómo rastero mi pedido?</button>
<div id="Demo2" class="w3-hide w3-container">
    <p>Es necesario que cconserves el número de tu orden de venta en caso de solicitar apoyo en el rastreo de tu pedido</p>
</div>

<button onclick="myFunction('Demo2')" class="w3-button w3-block w3-2018-sailor-blue w3-left-align">¿En que zonas se pueden realizar pedidos?</button>
<div id="Demo2" class="w3-hide w3-container">
    <p>En este momento se realizan entrgas unicamente en la Ciudad De México, alcaldía Miguel Hidalgo.</p>
</div>

<button onclick="myFunction('Demo2')" class="w3-button w3-block w3-2018-sailor-blue w3-left-align">¿Cúal es el metodo de pago?</button>
<div id="Demo2" class="w3-hide w3-container">
    <p>Al realizar tu pedido tu vendedor se pondra en contacto contígo para acoordar el metodo de pago.</p>
</div>

<button onclick="myFunction('Demo2')" class="w3-button w3-block w3-2018-sailor-blue w3-left-align">¿En que horario se pueden realizar pedidos?</button>
<div id="Demo2" class="w3-hide w3-container">
    <p>El horario para realizar pedidos es 24/7 la entrega puede varíar dependiendo del proveedor del producto</p>
</div>


</div>
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace("w3-2018-sailor-blue", "w3-red");
  } else { 
    x.className = x.className.replace(" w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace("w3-red", "w3-2018-sailor-blue");
  }
}
</script>
<br>
<br>
<br>

<% include footer%>