 <footer class="w3-container w3-padding-32 w3-black">  
    <div class="w3-row-padding">
      <div class="w3-seconnd">
        <h3>Sistema de pedidos en linea</h3>
        <a href="/terms">Teminos y condiciones</a>      
      </div>
    
    </div>
  </footer>
<script type="text/javascript" src="/public/assets/store.js"></script>
</body>
</html>